/* Notify about covid 19 */
.covid-noti {
    position: relative;
    display: flex;
    height: 58px;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #222;
}

.covid-noti-text a {
    display: flex;
    text-align: center;
    font-size: 1.5rem;
    font-size: 1.4rem;
    font-weight: 500;
    color: #a3a3a3;    
}

.covid-noti-text a:hover {
    opacity: 0.8;
}

/* Header */

#header {
    position: relative;
    padding-top: 42%;
    background: url('https://i.imgur.com/1202beD.jpg') top center /cover no-repeat;    
    margin: 0;
}

.navbar {
    position: absolute;
    top: 0;
}

.navbar-header { 
    width: 1200px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-header__group {
    flex-grow: 1;
    margin: 0;
}

.navbar-header--logo {
    display: flex;
    justify-content: flex-start;
}

.navbar-item {
    position: relative;
    padding: 0 20px;
}

.navbar-item__link {
    font-size: 1.6em;
    line-height: 1.8rem;
    color: var(--back-color);
    font-weight: 400;
    text-decoration: none;
    margin: 0;
}

.navbar-item--active:hover {
    cursor: default;
}

.navbar-item--active::after {
    content: "";
    display: block;
    position: absolute;
    top: calc(100% + 6px);
    left: 50%;
    width: 15px;
    transform: translateX(-50%);
    border-bottom: 2px solid #000;
}

.navbar-item:hover .navbar-item--funtion::after {
    content: "";
    display: block;
    position: absolute;
    top: calc(100% + 6px);
    width: 6px;
    left: 50%;
    border-bottom: 2px solid #000;
}

.navbar-item--funtion:hover {
    opacity: 0.8;
}

.navbar-list {
    display: flex;
    list-style: none;   
}

.navbar-header--function {
    display: flex;
    justify-content: flex-end;
}


.navbar-header--connect {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navbar-item--connect {
    padding: 10px 15px;
}

.navbar-item--connect:hover {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    padding: 10px 15px;
}

.navbar-list--for-user {
    display: flex;
    width: 78px;
    justify-content: space-around;
    margin: 0 0 0 4px;
    background-color: var(--white-color);
    border-radius: 20px;
    padding: 10px 15px;
    cursor: pointer;
}

.navbar-item__person-icon {
    font-size: 16px;
    color: var(--black-color);
}

/* Header-category */
.navbar-category {
    display: flex;
    justify-content: center;
}

.navbar-category-list {
    list-style: none;
    display: flex;
    align-items: center;
    background-color: var(--white-color);
    border-radius: 40px;

}

.navbar-category-item {
    position: relative;
    font-size: 1.4rem;
    line-height: 1.8rem;
    padding: 16px 82px 16px 26px;
    
}

.navbar-category-item:first-child {
    padding-right: 138px;
}


.navbar-category-item:first-child::after {
    border: none;
}

.navbar-category-item::after {
    content: "";
    position: absolute;
    height: 30px;
    right: 100%;
    top: 30%;
    display: block;
    border-right: 1px solid #EBEBEB ;
}

.navbar-category-item-title {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 2rem;
}

.navbar-category-item-body {
    color: var(--gray-color);
    line-height: 1.8rem;
}

.navbar-category-item--search {
    display: flex;
    align-items: center;
    padding:0 10px;
}

.navbar-category-item-button {
    padding: 14px 16px;
    background-color: #FF385C;
    border-radius: 50%;
    color: var(--white-color);
}

.navbar-category-item-button i {
    font-size: 1.6rem;
    font-weight: 300;
}

.navbar-category-item--search .navbar-category-item {
    padding-right: 50px;
}

/* Header Introduce */
.header__introduce {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 158px 0;
}

.header__introduce-title {
    max-width: 500px;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 500;
}

.header__introduce-title-name {
    
    font-size: 1.8rem;
    line-height: 1.8rem;
    font-weight: 500;
    
}

.header__introduce-search {
    display: flex;
    justify-content: center;
    max-width: 500px;
    margin-top: 16px;
}

.header__introduce-search-link {
    position: relative;
    display: block;
    border-radius: 40px;
    background-color: var(--white-color);
    padding: 22px 56px;
    box-shadow: 0px 6px 16px rgb(0, 0, 0, 0.5);
    text-decoration: none;
}

.header__introduce-search-text {
    font-size: 2rem;
    font-weight: 600;
    line-height: 2rem;
    background: -webkit-linear-gradient(
        90deg
        , #6F019C 0%, #C6017E 135.12%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

/* Destination */
.destination {
    padding-bottom: 20px;
    display: block;
}

.destination-item {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    color: var(--black-color);
    font-size: 1.6rem;
    font-weight: 1.6rem;
}

.destination-item__img img {
    width: 64px;
    border-radius: 10px;
    object-fit: contain;
    margin-right: 16px;
}

.destination-item__title {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    padding: 12px 0;
}

.destination-item__content {
    flex: 1 0 100%;
    padding-bottom: 2px ;
}

.destination-item__content > b {
    font-weight: 500;
}

.destination-item__content:last-child {
    font-weight: 300;
}

/* Anywhere */
.anywhere {

}

.anywhere-item {
    text-decoration: none;
    color: var(--black-color);
    
    
}

.anywhere-item__img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    border-radius: 10px;
}

.anywhere-item__lable {
    padding: 12px 0;    
}

.anywhere-item__lable b{
    font-size: 1.8rem;
    font-weight: 500;
}
